<div id="<%= dom_id(project) %>">
  <%= form_with(model: project) do |form| %>
    <% if project.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

        <ul>
          <% project.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-row">
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>

    <div data-preview-name-value="Wrapbook" data-controller="preview">
      <div>
        <%= form.label :description, style: "display: block" %>
        <%= form.textarea :description, data: { action: "preview#updateOutput", 'preview-target': 'input' } %>
      </div>

      <div class="preview" data-preview-target="output">
        Generating...
      </div>
    </div>

    <div class="form-row">
      <%= form.label :active, style: "display: block" %>
      <%= form.checkbox :active %>
    </div>

    <div class="form-row">
      <%= form.label :union, style: "display: block" %>
      <%= form.select :union, Project::UNIONS.invert.to_a %>
    </div>

    <div class="form-row form-row--p-top">
      <%= form.submit %>
      <%= link_to("Cancel", [project]) %>
    </div>
  <% end %>
</div>
