<% content_for :title, "Projects" %>

<h1>Projects</h1>

<p><%= link_to "New project", new_project_path %></p>

<%= search_form_for @q do |f| %>
  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>
  <%= f.submit %>
<% end %>

<div class="cards" id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
  <% end %>
</div>
